
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap);
    font-size: 16px;
  }
body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #757e8a;
    font-weight: 300;
}
button{
    border: none;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
h1{
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
}
h2{
    font-size: 3.75rem;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
ul{
    list-style: none;
}
.fa-star,.fa-star-half-alt{
  margin-right: 2px;
  color: #ffd800;
}
.grid_overlay,.menu_grid,.search_grid,.search_grid-active,.cart_grid-active,.cart_grid,.list_grid,.list_grid-active{
    position: fixed;
    background: rgba(0, 0 ,0 , 0.1);
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}
.button-blue{
    background:#2a9cf5;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;
}
.button-blue:hover{
    background: #fff;
    cursor: pointer;
    color: #9a9da7;
}
.button-white{
    background: #fff;
    color: #9a9da7;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;
}
.button-white:hover{
    background: #2a9cf5;
    cursor: pointer;
    color:black;
}
.center{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}
.between{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 100%;
}
.orange {
    background: #f44336!important;
}
.head_layout{
    width:100%;
    background: #363e48;
    min-height: 300px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.head_layout a {
    color: #727681;
}
.head_layout a:hover {
    color: #2a9cf5;
}
.end_layout{
    background: #f7f7f7;
    padding: 120px 0;
}
.end_layout-item{
    width: 100%;
    min-height: 266px;
    background: #e2e2e2;
    margin-top: 55px;
}
.end_layout-text{
    width: 100%;
    text-align: center;
}
.all_logos{
    display: flex;
    justify-content:  center;
    align-items: center;
    min-height: 232px;
    border: 1px solid #e5e5e5;
    margin: 30px 38px;
    align-items: center;
}
.logo{
    min-width: 100px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all_product{
    padding: 50px 0;
}
.featured_item-group a {
    color: #232b37;
}
.cart_slide-item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    border: 2px solid #e5e5e5;
    border-radius: 30px;
    padding: 16px 0;
    text-transform: uppercase;
    color: #b1b6bd;
    font-size: 12px;
    margin-right: 20px;
    background: #fff;
}
.cart_slide-btn{
    border: 2px solid #e5e5e5;
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 20px;
    background: #fff;
}
.cart_slide-item:hover{
    color: #fff;
    background: #2a9cf5;
    cursor: pointer;
}
.cart_slide-show{
    display: flex;
    flex-wrap: wrap;
}