:root{
    --orange-color: #f45832;
    --text-color: #757e8a;
    --blue-page: #2a9cf5;
}
@font-face {
    font-family: Poppins;
    src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
  }
body{
    font-family: Poppins;
    font-size: 16px;
    color: #757e8a;
    line-height: 1.125;
}
h1{
    font-size: 80px;
    font-weight: bold;
    color: #fff;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
h1, h2, h3, h4, h6 {
    font-weight: bold;
}
ul{
    list-style: none;
    margin: auto;
}
.grid{
    width: 1110px;
    margin: auto;
}
.grid_overlay,.search_grid,.search_grid-active,.cart_grid-active,.cart_grid,.list_grid,.list_grid-active{
    position: fixed;
    background: rgba(0, 0 ,0 , 0.1);
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}
button{
    border: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}
.button-blue{
    background:#2a9cf5;
}
.open{
    visibility: inherit;
}
@media only screen and (max-width: 767px){
    .header_support-language
    {
        display: block;
        text-align: center;
    }
}