:root{
    --orange-color: #f45832;
    --text-color: #757e8a;
    --blue-page: #2a9cf5;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
    font-size: 16px;
    font-weight: 300;
  }
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #757e8a;
    line-height: 1.125;
    font-weight: 300;
}
button {
    border: none;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
}
h1{
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
}
h2{
    font-size: 3.75rem;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
h1, h2, h3, h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
ul{
    list-style: none;
    margin: auto;
}
.fa-star,.fa-star-half-alt{
  margin-right: 8px;
  color: #ffd800;
}
.grid_overlay,.search_grid,.search_grid-active,.cart_grid-active,.cart_grid,.list_grid,.list_grid-active{
    position: fixed;
    background: rgba(0, 0 ,0 , 0.1);
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}
.button-blue{
    background:#2a9cf5;
    width: 170px;
    height: 60px;
    border: 2px solid  rgba(255,255,255,0);
    border-radius: 5px;color: #fff;
    margin-top: 22px;
    border: 2px solid  rgba(255,255,255,0);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button-blue:hover{
    background: lightblue;
    cursor: pointer;
    color:black;
}
@media only screen and (max-width: 992px){
    h2{
        font-size: 2.5rem;
    }
    .header_support-language
    {
        flex: 1;
        margin-bottom: 10px;
        margin-left: 40px
    }
    .top_menu-list{
        margin-top: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .top_menu-link{
        padding-top: 50px;
        padding-bottom: 20px;
        min-width: 50px;
    }
    .top_infor{
        margin-left: 0;
    }
    .form_search{
        position: relative;
        left: 0; 
    }
    .form_search-input{
        max-width: 200px;
    }
}
@media only screen and (max-width: 767px){
    .brand_group,.product{
        padding: 20px 0;
    }
    .center{
        padding: 20px 0;
    }
    .form_search{
        position: relative;
        left: 0; 
    }
    h3 {
        font-size: 40px;
    }

}
@media only screen and (max-width: 576px){
    h1{
        font-size: 50px;
    }
    .brand_group,.call_action{
        padding: 20px 0;
    }
    .center,{
        padding: 20px 0;
    }
    .footer_end-item{
        margin-bottom: 10px;
    }
    .form_search{
        position: relative;
        right: 350px; 
    }
    .features{
        padding-bottom: 120px;
    }
}