
.bootstrap-select
.dropdown-toggle:focus{
    outline: none!important;
}
.btn:focus{
    box-shadow: none!important;
}
:focus{
    outline: none!important;
}
@keyframes right_left{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes removeItem
{
    from
    {
        transition: width 2s, height 2s, transform 2s;
    }
    to
    {
        width:10px;
        height:10px;
        overflow: hidden;
    }
}
.removeAdd{
    animation: removeItem 3s linear;
}
.close{
    display: none;
}
@keyframes product_left {
    from {

    }
    to {

    }
}

.btn{
    transition: none;
}
@media only screen and (max-width: 992px){
    .contacts_item{
        margin-top: 30px;
    }
    .header_contacts {
        padding: 40px 0;
    }
    .header_contacts .brand_group{
        display: none!important; 
    }
    .contacts_item-text span{
        width: 100%;
    }
    .top_menu-active{
        display:none;
    }
    .respon_menu-active{
        display: block;
    }
    .header_support,.product,.features,.call_action,.featured,.footer{
        padding-bottom: 20px;
    }
    h2{
        font-size: 2.5rem;
    }
    .header_support-language
    {
        flex: 1;
        height: 25%;
        padding-bottom: 0;
        margin-top: 20px;
    }
    .top_list{
        align-items: flex-start;
    }
    .top_infor{
        margin-left: 0;
    }
    .form_search{
        position: relative;
        left: 0; 
    }
    .form_search-input{
        max-width: 200px;
    }
    .rope{
        display: none;
    }
    .slide_head-group{
        justify-content: center;
        margin-bottom: 30px;
    }
    .logo{
        margin: 20px 0;
    }
}
@media only screen and (max-width: 767px){
    .top_menu-active{
        display:none;
    }
    .top_infor:first-child{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .respon_menu-active{
        display: block;
    }
    .dropdown_pages{
        margin:0; 
        margin-top: 5px;
        width: 365%;
        flex-wrap: wrap;
    }
    .dropdown_pages-column{
        padding-bottom: 30px;
    }
    .dropdown-content{
        margin: 0;
    }
    .product_icon-left, .product_icon-right{
        padding: 20px 14px;
    }
    .product_slide-item{
        font-size: 8px;
    }
    .top_menu-list{
        display:none;
    }
    .brand_group,.product{
        padding: 20px 0;
    }
    .center{
        padding: 20px 0;
    }
    .form_search{
        position: relative;
        left: 0; 
    }
    h3 {
        font-size: 40px;
    }

    .seller_product-table tr:first-child th:first-child{
        padding-left: 5px;
    }
    .seller_product-table th {
        font-size: 8px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
    }
    .seller_product-table .fas{
        margin-left: 5px;
    }
    .seller_product-table td{
        font-size: 8px;
        font-weight: 400;
    }
    
    .table-td-img{
        width: 20px;
        height: 20px;
        background: #e5e5e5;
        margin: 10px;
    }
    .layout-btn2{
        margin-top: 8px;
    }
    .layout_end-item{
        height: 240px;
        font-size: 20px;
    }
    .layout_end-item span{
        font-size: 75px;
    }
    .off span{
        font-size: 50px;
    }
    .home5_layout-end-text{
        font-size: 60px;
    }
    .home5_slide-end,.home5_slide-top{
        font-size: 8px;
        text-transform: capitalize;
        height: 40px;
        border-radius: 20px;    
        max-width: 100px;
    }
}
@media only screen and (max-width: 576px){
    h1{
        font-size: 50px;
    }
    .product_slide-item{
        margin: 0 5px;
    }
    .brand_group,.call_action{
        padding: 20px 0;
    }
    .center{
        padding: 20px 0;
    }
    .footer_end-item{
        margin-bottom: 10px;
    }
    .form_search{
        position: relative;
        right: 350px; 
    }
    .features{
        padding-bottom: 120px;
    }
}