input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
.cart_product,.cart_calc{
    min-height: 455px;
    padding-top: 80px;
}
.cart_product-top{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #efefef; 
    padding-bottom: 15px;
}
.infor_product{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid #efefef; 
}
.infor_product .fa-times{
    color: red;
    cursor: pointer;
}
.infor_product-img{
    background-image: url(../image_page/br/cart-1.jpg);
    min-width: 160px;
    height: 160px;
    margin: 0 40px;
}
.coupon{
    display: flex;
    min-height: 60px;
    margin-top: 40px;
}
.coupon_input{
    border: 2px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    min-width: 45%;
    padding: 0 35px; 
    min-height: 60px;
}
.coupon_btn{
    display: flex;
    justify-content:  center;
    align-items: center;
    background: #2a9cf5;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none; 
    padding: 20px 35px; 
    min-width: 30%;
    min-height:60px;
    letter-spacing: 2px;
}
.coupon_btn:hover{
    cursor: pointer;
    background: #e2e2e2;
    color: #323232;
}

.calc_price-group{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    min-height: 240px;
    width: 100%;
    border-bottom: 1px solid #efefef; 
}
.price_one,.price_total{
    color: #2a9cf5;
    display: flex;
    justify-content: flex-start;
}
.amount{
    display: flex;
    width: 160px;
    height: 50px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
}
.amount_reduc, .amount_increa{
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #838b97
}
.amount_reduc:hover, .amount_increa:hover{
    background: #2a9cf5;
    cursor: pointer;
}
.amount_present{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
}
.infor_product-text1{
    color: #232b37;
    font-size: 16px;
}
.cart_total{
    margin-top: 50px;
}
.cart_total p {
    color: #232b37;
    font-weight: 500;
}
.cart_total span {
    color: #838b97;
    min-width: 85px;    
}
.cart_total-sub, .cart_total-ship, .cart_total-all,.cart_total-tax{
    display: flex;
    justify-content: space-between;
}
.update-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    margin-top: 40px;
}
.update-btn{
    border: 2px solid #e5e5e5;
    font-weight: bold;
    min-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #9a9da7;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.update-btn:hover{
    background: #2a9cf5;
    color: #fff;
}
.proceed-btn{
    min-width: 55%;
    background: #2a9cf5;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.proceed-btn:hover{
    background: transparent;
    border: 2px solid #e5e5e5;
    color: #9a9da7;
}
@media only screen and (max-width: 992px){
    .cart_slide-btn{
        margin-top: 20px; 
    }
    .calc_price-group{
        padding-top: 0px;
        padding-bottom: 20px;
    }
}