select{
    font-family: 'Rubik', sans-serif;
}
.product_infor-item a{
    color: #232b37;
}
.compare_btn{
    border-radius: 60px;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 10px;
    padding: 25px 50px;
    font-size: 14px;
    font-weight: 500;
}
.compare_btn:hover{
    background: #e8e8e8;
    color: #232b37;
}
.category{
    padding: 80px 0;
}
.category_item,.category_slide-list{
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    min-height: 252px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}
.category_item-img{
    font-size: 140px;
    text-align: center;
    line-height: 0.3333;
    padding-top: 33px;
}
.category_item-text{
    color: #7a8591;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.category_item:hover{
    background: #2a9cf5;
    
}
.category_item:hover .category_item-img,.category_item:hover .category_item-text{
    color: #fff;
}
.category_item:hover .category_item-img{
    transform: rotateY(360deg);
    transition: all 0.5s ease-in;
}
.category_slide{
    display: flex;
    
}
.category_slide-list{
    display: flex;
    flex-wrap: wrap;
    padding: 25px 40px;
}
.category_slide-list a{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px; 
    font-weight: 400;
    align-items: center;
    width: 100%;
    color: #bbc4d1;
    line-height: 3.5;
}
.icon_add{
    font-size: 12px;
}
.category_slide-list a:hover{
    font-size: 12px;
    color: #009be0;
}
.category_slide-list a:hover .icon_add{
    font-size: 24px;
}
.category_slide-infor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #bbc4d1;
    font-weight: 400;
    border-bottom: 2px solid #f6f6f6;
    padding-top: 22px;
    padding-bottom: 7px;
}
.category_slide-infor-text{
    display: flex;
    flex-wrap: wrap;
    float: left;
    font-size: 14px;
    line-height: 0.7;
}
.category_slide-infor-icon{
    color: #2a9cf5;
}
.slide_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.slide_head-item{
    position: relative;
    max-width: 165px;
    display: flex;
    border: 2px solid #e5e5e5;
    border-radius: 30px;
    padding: 20px 50px;
    align-items: center;
    text-transform: uppercase;
    color: #bbc4d1;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    margin-right: 20px
}
.slide_head-option{
    border: 2px solid #e5e5e5;
    height: 50px;
}
.slide_head-group{
    display: flex; 
    justify-content: flex-end;
}
.slide_head-group .slide_head-item:hover{
    cursor: pointer;
}
.slide_head-select{
    border: 2px solid #e5e5e5;
    border-radius: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 9px 30px 11px 50px;
}
.slide_head-select-op{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #bbc4d1;
}
.slide_head-select .dropdown-menu{
    margin-top: 13px;
    margin-left: -48px;
}
.slide_head-select .icon-drop{
    margin-left: 7px;
}
.rope{
    background:  #e5e5e5;
    height: 2px;
    position: relative;
    width: 90%;
    z-index: -1;
    margin: auto;
    top: 30px;
}
.slide_head-icon{
    position: relative;
    border: 2px solid #e5e5e5;
    border-radius: 100%;
    padding:  16px 20px;
    color: #afb6bf;
    background: #fff;
}
.slide_head-icon:hover{
    cursor: pointer;
    background: #2a9cf5;
    color: #fff;
}

