    /*  */
    .header_support{
        background: #2b3440;
        border-bottom: 1px solid #303743;
    }
    .top_header{
        background: #232b37;
    }
    .top_menu-link{
        text-decoration: none;
        height: 70%;   
    }
    .top_menu-link a {
        color: #b7bec9;
    }
    .top_menu-link a:hover {
        color: #fff;
        text-decoration: none;
    }
    .header_layout{
        min-height: 700px;
        background: #2b3440;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .views-btn{
        background-color:#206a8e;
        margin-top: 30px;
        border: none;
        border-radius: 5px;
        color: #fff;
    }
    .views-btn:hover{
        background: transparent;
        border: 2px solid #666666; 
    }
    .learn-btn{
        min-width: 170px;
        height: 60px;
        border: 2px solid #555d66;
        margin-top: 30px;
        background: #2b3440;
        border-radius: 5px;
        color: #fff;
    }
    .learn-btn:hover{
        background-color:#206a8e;
        border: none;
    }
    .features{
        min-height: 700px;
        background: #e2e2e2;
    }
    .features_top{   
        display: flex;
        flex-wrap: wrap;
        font-weight: 550;
    }
    .features_top-item{
        display: flex;
        justify-content: center;
        flex-wrap: wrap ;
        width: 95px;
        height: 95px;
        background: #b1d0cb;
        border: 1px solid rgba(255, 255, 255, 0.65);
        border-radius: 100%;
        margin-right: 10px;
        text-align: center;
        align-items: center;
        color:#fff;
    }
    .features_body-text{
        margin-top: 40px;
        font-size: 18px;
    }
    .product_icon-left, .product_icon-right{
        background: #f4f4f4;
        padding: 20px 24px;
        border-radius: 5px;
        border: none;
    }
    .multiple-items{
        display: flex;
        justify-content: space-between;
    }
    .mySlides{
        display: none;
        flex-wrap: wrap;
    }
    .product_slide-item{
        background: #f4f4f4;
        border-radius: 5px;
        color: #d1d0d0;
        max-width: 160px;
        font-size: 12px;
        min-height: 50px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        margin-left: 20px;
    }
    .product_icon-left:hover, .product_icon-right:hover,.product_slide-item:hover{
        color: #fff;
        background: #2a9cf5;
        cursor: pointer;
    }
    .call_action{
        min-height: 300px;
        background: #363e48;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
    }
    .cal_infor-item{
        margin-right: 30px;
    }
    .call_action-text{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .featured{
        min-height: 985px;
        display: flex;
        flex-wrap: wrap;
    }
    .featured_column-name{
        margin-top: 120px;
        margin-bottom: 35px;
        font-weight: 600;
    }
    .featured_column-item-big:hover{
        background: #232b37;
    }
    .featured_item-group a:hover {
        color: #2a9cf5;
    }