.top_menu-link a{
    color: #fff;
}
.link_icon{
    border-color:  #fff transparent transparent transparent;
}
.top_menu-link:hover .link_icon{
    border-color:  #232b37 transparent transparent transparent;
}
.top_menu-icon .fas{
    color: #fff;
}
.layout_top{
    background: #e5e5e5;
    padding: 200px 0;
}
.layout_button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;    
    padding: 0 20px 0 0;
    align-items: center;
}
.layout-btn1{
    min-width: 245px;
    height: 60px;   
    font-weight: 500;
    border: 2px solid #d1d2d3;
    border-radius: 30px;
}
.layout-btn2{
    border: 2px solid #d1d2d3;
    width: 245px;
    height: 60px;   
    font-weight: 500;
    background: #e5e5e5;
    color: #767d8a;
    border-radius: 30px;
}
.home6_item-top{
    margin-top: 30px;
    min-height: 250px;
    display: flex;
    padding-left: 30px;
    align-items: center;
    background: #f6f6f6;    
    text-transform: capitalize;
    font-size: 26px;
    color: #232b37;
}
.offer_item{
    min-width: 255;
    min-height: 465px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    border-top: none;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer_item-img{
    width: 92%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #f7f7f7;
    position: absolute;     
    top: 0;
    left: 15px;
}
.offer_item-infor{
    text-align: center;
    color: #232b37;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
}
.time-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-icon{
    width: 60px;
    height: 60px;
    background: #232b37;
    color: #fff;
    font-size: 26px;
    line-height: 1.5;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 22px;
}
.time-icon p {
    font-size: 12px;
    color: #a6a6a6;
    text-transform: uppercase;
}
.offer_item2{
    background-image: url(../image_page/br/home6-6.jpg);
    background-repeat: no-repeat;
    min-height: 470px;
    width: 100%; 
    margin: 30px 0 80px 0;
    border-radius: 5px;
}
.product_icon-left, .product_icon-right{
    background: #f4f4f4;
    padding: 20px 24px;
    border-radius: 5px;
    border: none;
}
.multiple-items{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.mySlides{
    display: none;
    flex-wrap: wrap;
}
.product_slide-item{
    max-width: 205px;
    background: #f4f4f4;
    border-radius: 5px;
    color: #d1d0d0;
    font-size: 12px;
    min-height: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.product_icon-left:hover, .product_icon-right:hover,.product_slide-item:hover{
    color: #fff;
    background: #2a9cf5;
    cursor: pointer;
}
.product_btn1{
    margin-right: 20px;
}
.product_btn2{
    margin-left: 13px;
}
.home6_product{
    background: #232b37;
    padding: 80px 0;
}
.rope{
    z-index: 0;
    top: 27px;
}
.home6_slick-btn1,.home6_slick-btn2{
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ebebeb;
    color: #b1b6bd;
    border: none;
}
.home6_slick-btn2{
    margin-left: 20px;
}
.cart_slide-btn{
    background: #ebebeb;
    color: #afb6bf;
}
.home6_slick-btn1:hover,.home6_slick-btn2:hover,.cart_slide-btn:hover{
    background: #2a9cf5;
    color: #fff;
}
  
.slick-btn1, .slick-btn2{
    display: none;
}
.home6_slide-item{
    height: 50px;
    border-radius: 25px;
    background: #3e4755;
    font-size: 12px;
    color: #b1b6bd;
    text-transform: uppercase;  
    font-weight: 700;
    margin: 0 10px;
    min-width: 200px;
    letter-spacing: 2px;
}
.home6_slide-item:hover{
    color: #fff;
    background: #2a9cf5;
}
@media only screen and (max-width: 992px){
    .home6_slide-item{
        min-width: 20%!important;
        font-size: 8px;
        margin: 0 5px;
    }
}
.item_big-img{
    min-height: 560px;
    background-image: url(../image_page/br/home6-7.jpg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 30px;
}
.item_big-infor{
    background: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 330px;
    align-items: center;
    text-align: center;
    color: #232b37;
    text-transform: capitalize;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}
.big-img{
    width: 100%;
    min-height: 455px;
    border-radius: 5px;
    background: #e2e2e2;
    margin-bottom: 80px;
}
.featured_column-name{
    margin-bottom: 35px;
}
.home6_end-slide{
    font-size: 12px;
    color: #b1b6bd;
    min-width: 240px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    background: #fff;
    border: 2px solid #d1d2d3;
    border-radius: 25px;
}   
.home6_slide-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3e4755;
    color: #afb6bf;
}
.home6_slide-btn:hover{
    background: #2a9cf5;
    color: #fff;
}
.featured{
    font-family: "Rubik", sans-serif; 
    padding: 45px 0;
}
.slick_slide1{
    display: block;
}
.slick_slide2{
    display: none;
}