::-webkit-input-placeholder { /* Edge */
    color: #ffd3c8;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffd3c8;
  }
  
  ::placeholder {
    color: #ffd3c8;
  }
p{
    font-size: 12px;
}
.header{
    background-color: var(--orange-color);
    color: #ffd3c8;
    height: 236px;
}
.top_header{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid  rgba(255,255,255,0.3);
}
.header_body{
    height: 95px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.header_body-group{
    width: 800px;
    display: flex;
    justify-content: space-between; 
    align-items: center;

}
.home3_search{
    display: flex;
    height: 40px;
}
.search_input-left{
    width: 40px;
    height: 40px;
    border: 2px solid  rgba(255,255,255,0.3);
    border-right: 2px solid  rgba(255,255,255,0);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}
.input_overlay{
    border-top: 2px solid  rgba(255,255,255,0.3);
    border-bottom: 2px solid  rgba(255,255,255,0.3);
    margin-left: -1px;
    height: 40px;
}
.home3_search-input{
    width: 300px;
    height: 40px;
    background: rgba(255,255,255,0);
    border: none;
    color: #ffd3c8;
    margin-left: -25px;
}
.catelogy{
    height: 40px;
    width: 132px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid  rgba(255,255,255,0.3);
    border-bottom: 2px solid  rgba(255,255,255,0.3);
}
.catelory_select{
    display: none;
}
.home3_search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid  rgba(255,255,255,0.3);
    border-radius: 100%;
    margin-left: -19px;
}
.header_body-item{
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    line-height: 0.2;
    justify-content: flex-end; 
}
.contact_icon{
    margin-top: -4px;
    background: rgba(255,255,255,0);
}
.home3_header-footer{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home3_menu-icon{
    display: flex;
    justify-content: space-between; 
    width: 88px;
    margin-right: 0;
}