.header_support{
    background: #2b3440;
    border-bottom: 1px solid #303743;
}
.top_menu-link a {
    color:#757e8a;
    font-weight: 500;
}
.top_header{
    background: #fff;
    min-height: 100px;
}
.top_menu-icon{
    color: #a7adb6;
}
.home02_layout-head{
    background: #505b6c;
    padding: 200px 0;
}
.slider2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    line-height: 1.6;
    color: #e1f4f8;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
.layout_button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
    align-items: center;
}
.slider2-btn1{
    background: #0066ff;
    min-width: 245px;
    height: 60px;   
    font-weight: 500;
}
.slider2-btn1:hover{
    border: 2px solid #4f555f;
    font-weight: bold;
}
.slider2-btn2{
    border: 2px solid #4f555f;
    width: 245px;
    height: 60px;   
    font-weight: 500;
    background: #505b6c;
}
.slider2-btn2:hover{
    background: #0066ff;
    color: #fff; 
}
.product_home2{
    display: flex;
    justify-content: space-between;
    padding: 0 38px;
}
.product_home2-item{
    display: flex;
    width: 100%;
    height: 500px;
    background: #232b37;
    margin-top: 30px;
    color: #fff;
    align-items: center;   
}
.home2-item-btn{
    color: #fff;
    width: 160px;
    height: 60px;
    background: #232b37;
    font-weight: 500;
    border: 1px solid #4f555f;
}
.product_top-item-text{
    margin-left: 70px;
}
.product_group-home2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 38px;
}
.home02_layout-end{
    margin-top: 30px;
    background: #f2f2f2;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logos{
    height: 232px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #e5e5e5;
    margin: 30px 38px;
    align-items: center;
}
.footer_end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0 30px;
    margin: 30px 38px;
}