body{
    font-family: "Rubik", sans-serif;
}
.big-title,.small-title{
    font-family: "Rubik", sans-serif;
    color: #fff;
    line-height: 1.11;
}
.shop-btn{
    margin-top: 25px;
}
.home02_layout-end .top_button1:hover{
    border: 2px solid #dddedf;
    color: #838b97;
}
.home02_layout-end .top_button2{
    border: 2px solid #dddedf;
    color: #838b97;
    background: transparent;
}
.header_support{
    background: #2b3440;
    border-bottom: 1px solid #303743;
}
.top_menu-link a {
    color:#757e8a;
}
.top_header{
    background: #fff;
}
.home02_layout-head{
    background-image: url(../image_page/br/home2-1.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 200px 0;
}
.brand{
    color: #232b37;
}
.top_menu-link:hover .menu_link-border{
    opacity: 1;
    background: #757e8a;
    margin-bottom: 2px;
    visibility: inherit;
}
.slider2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: #e1f4f8;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 60px;
}
.layout_button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
    align-items: center;
}
.views-btn{
    background: #0066ff;
    margin-top: 20px;
    border-radius: 5px;
}
.views-btn:hover{
    background: transparent;
}
.learn-btn{
    min-width: 170px;
    background: transparent;
    margin-top: 20px;
    border-radius: 5px;
}
.learn-btn:hover{
    background: #0066ff!important;
    color: #fff!important; 
}
.product_home2{
    display: flex;
    justify-content: space-between;
    padding: 0 38px;
}
.product_home2-item{
    display: flex;
    width: 100%;
    height: 500px;
    background: #232b37;
    margin-top: 30px;
    color: #fff;
    align-items: center;   
}
.home2-item-btn{
    color: #fff;
    width: 160px;
    height: 60px;
    background: #232b37;
    font-weight: 500;
    border: 1px solid #4f555f;
}
.product_top-item-text{
    margin-left: 70px;
}
.product_group-home2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 38px;
}
.home02_layout-end{
    margin-top: 30px;
    background: #f2f2f2;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logos{
    height: 232px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #e5e5e5;
    margin: 30px 38px;
    align-items: center;
}
.footer_end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0 30px;
    margin: 30px 38px;
}