.home4_top{
    height: 125px;
    border-bottom: 2px solid #d3d5d7;
}
.header_support{
    background: #2b3440;
    border-bottom: 1px solid #303743;
}
.top_menu-link a {
    color:#757e8a;
}
.top_header{
    background: #fff;
    min-height: 100px;
}
.top_menu-icon{
    color: #a7adb6;
}
.menu_link-border{
    position: absolute;
}
.top_menu-list{
    padding: 0;
    margin-top: -5px;
    margin-right: 40px;
}
.dropdown_pages{
    margin-left: -273px;
}
.home4-btn{
    min-width: 240px;
    height: 60px;
    border-radius: 30px;
}
.button-group{
    display: flex;
    justify-content: space-between;
    width: 66%;     
}
.home4_slide{
    width: 100%;
    height: 60px;
    margin-top: 80px;
    border: 2px solid #e5e5e5;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home4_slide-top,.home4_slide-end{
    position: relative;
    height: 60px;
    text-transform: uppercase;
    font-size: 12px;
    color: #8f97a2;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home4_slide-top:hover,.home4_slide-end:hover{
    color: #232b37;
    border-bottom: 2px solid #232b37;
    cursor: pointer;
}
.slide-active{
    color: #232b37;
    border-bottom: 2px solid #232b37;
}