.partners{
    padding: 100px 0;
}
.partners_table {
    width: 100%;
}
.partners_table td{
    padding: 63px 45px;
    text-align: center;
    text-transform: capitalize;
    color: #bcbcbc;
    font-size: 30px;
    font-weight: 400;
    border: 2px solid #e5e5e5;
    border-top: none;
    border-left: none;
}
.partners_table .tr-end td{
    border-bottom: none;
}