.track_body{
    padding: 80px 0;
}
.track_order{
    width: 100%;
    min-height: 255px;
    background: #232b37;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.track_order-options{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.option-input{
    width: 90%;
    height: 70px;
    background: #2c3441;
    border: none;
    border-radius: 40px;
    padding: 0 40px;
}
.option-input-btn{
    width: 30%;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    left: 62.5%;
}
.option-input-btn .fas{
    margin-right: 10px;
}
.track_table-slider{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
}
.table-slider-between,.table-slider-left,.track_table-slider-icon{
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #e5e5e5;
    height: 50px;
}
.table-slider-left{
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.table-slider-between{
    border-right: none;
    border-left: none;
}
.track_table-slider-btn{
    height: 50px;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
}
.track_table-slider-btn:hover{
    background: #2a9cf5;
    color: #fff;
    cursor: pointer;
}
.track_table-slider-icon{
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.track_table-slider-icon .fas{
    margin-left: 30px;
}
.track_table-slider-icon .fas:hover{
    cursor: pointer;
    color: #2a9cf5;
}
.track_table-show-item{
    width: 100%;
}
.track_table-show-item tr{
    border-top: 1px solid #aeaeae;
}
.track_table-show-item tr td{
    padding: 40px 0;
    font-size: 14px;
    color: #838b97;
    font-weight: 400;
}
.track_table-show-item tr td strong{
    color: #232b37;
}
.base-color{
    color: #2a9cf5;
}
.track_footer{
    background: #f7f7f7;
    padding: 115px 0;
}
.track_footer-top{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.track_footer-item{
    width: 83%;
    min-height: 185px;
    display: flex;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 40px;
    position: relative;
    margin: 65px 0;
}
.right::before,.down::before,.left::before,.up::before{
    position: absolute;
    background: #dedede;
    content: '';
}
.right::before{
    right: -70px;
    top: 50%;
    height: 2px;
    width: 70px;
}
.down::before{
    left: 50%;
    bottom: -72px;
    height: 70px;
    width: 2px;
}
.left::before{
    left: -70px;
    top: 50%;
    height: 2px;
    width: 70px;
}
.up::before{
    top: -72px;
    left: 50%;
    width: 2px;
    height: 70px;
}
.right::after,.down::after,.left::after,.up::after{
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    color: #dedede;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.right::after{
    right: -74px;
    top: 46.26%;
    content: ""; 
}
.down::after{  
    left: 49%;
    bottom: -81px;
    content: ""; 
}
.left::after{  
    left: -73px;
    top: calc(50% - 6.52px);
    content: ""; 
}
.up::after{
    top: -80px;
    left: calc(50% - 4.5px);
    content: "";
}
.track_footer-item:hover{
    border-color: #2a9cf5;
}
.track_footer-item:hover .right::before,
.track_footer-item:hover .down::before,
.track_footer-item:hover .up::before,
.track_footer-item:hover .left::before
{
    background: #2a9cf5; 
}
.track_footer-item:hover .right::after,
.track_footer-item:hover .down::after,
.track_footer-item:hover  .up::after,
.track_footer-item:hover .left::after
{
    color: #2a9cf5;
}
.track_footer-item-icon{
    background: #2a9cf5;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 30px;
}
.track_footer-item-text{
    width: 60%;
    font-size: 14px;
    color: #838b97;
}
