:root{
    --orange-color: #f45832;
    --text-color: #757e8a;
    --blue-page: #2a9cf5;
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #757e8a;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 16px;
}
ul{
    list-style: none;
    margin: auto;
}
.grid{
    width: 1120px;
    margin: auto;
}