@keyframes right_left{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes removeItem{
    from{
        transition: width 2s, height 2s, transform: 2s;
    }
    to{
        width:10px;
        height:10px;
        overflow: hidden;
    }
}
.removeAdd{
    animation: removeItem 3s linear;
}
.close{
    display: none;
}
@keyframes product_left {
    from {

    }
    to {

    }
}
@keyframes product_right {
}