.top_header{
    background: #fff;
}
.top_menu-list{
    width: 615px;
}
.header_layout{
    background: #505b6c;
}
.slider{
    justify-content: center;
    width: 580px;
    height: 290px;
}
.top_button1{
    background: #0066ff;
}